@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Inter";
    background-color: #F9F7F1;
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin: 3vw 5vw;
    align-items: baseline;
}

.logo {
    color: #000000;
    font-size: 1.5vw;
    font-weight: 600;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    align-items: baseline;
    font-weight: 600;
}

.nav-item {
    color: #000000;
}

.contact {
    padding: 1.5vh 1.5vw;
    background: #000000;
    border-radius: 1vw;
    color: #FFFFFF;
    font-weight: 600;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000000;
}

.main {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-weight: 600;
    font-size: 5vw;
    margin: 0;
}

h2 {
    margin-top: 1vh;
    font-weight: 400;
    font-size: 1.7vw;
    opacity: 0.7;
}

.cta-wrapper {
    height: 16vh;
    width: 31.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-button {
    padding: 2.2vh 2.2vw;
    background: #000000;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}

.cta-button-text {
    color: #F9F7F1;
    font-weight: 600 !important;
    font-family: 'Inter'!important;
    font-size: 1.2vw;
}

img {
    width: 50px;
    height: 50px;
}

.grid-container {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.demo-container {
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.toggle {
  margin-top: 1vh;
  width: 8vh;
  background: #F9F7F1;
  border: 0.3vh solid #000000;
  border-radius: 4vh;
  display: flex;
  flex-direction: column;
  padding: 0.3vh 0.3vh;
}

.toggle-circle {
  width: 3.1vh;
  height: 3.1vh;
  background: #000000;
  border-radius: 4vh;
}

/* Animations */

.fade-in {
	-webkit-animation: fade-in 0.6s ease-in-out both;
    animation: fade-in 0.6s ease-in-out both;
}

.fade-in2 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.2s both;
    animation: fade-in 0.6s ease-in-out 0.2s both;
}

.fade-in3 {
	-webkit-animation: fade-in 0.6s ease-in-out 0.4s both;
    animation: fade-in 0.6s ease-in-out 0.4s both;
}

.text-fade-in {
  -webkit-animation: fade-in 0.2s ease-in-out both;
  animation: fade-in 0.2s ease-in-out both;
}

.text-fade-out {
  -webkit-animation: fade-out 0.2s ease-in-out both;
  animation: fade-out 0.2s ease-in-out both;
}

.row-fade-in-0 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.0s both;
    animation: fade-in 0.6s ease-in-out 0.0s both;
}

.row-fade-in-1 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.02s both;
    animation: fade-in 0.6s ease-in-out 0.02s both;
}

.row-fade-in-2 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.04s both;
    animation: fade-in 0.6s ease-in-out 0.04s both;
}

.row-fade-in-3 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.06s both;
    animation: fade-in 0.6s ease-in-out 0.06s both;
}

.row-fade-in-4 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.08s both;
    animation: fade-in 0.6s ease-in-out 0.08s both;
}

.row-fade-in-5 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.1s both;
    animation: fade-in 0.6s ease-in-out 0.1s both;
}

.row-fade-in-6 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.12s both;
    animation: fade-in 0.6s ease-in-out 0.12s both;
}

.row-fade-in-7 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.14s both;
    animation: fade-in 0.6s ease-in-out 0.14s both;
}

.row-fade-in-8 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.16s both;
    animation: fade-in 0.6s ease-in-out 0.16s both;
}

.row-fade-in-9 {
    -webkit-animation: fade-in 0.6s ease-in-out 0.18s both;
    animation: fade-in 0.6s ease-in-out 0.18s both;
}

.try-it-out {
    -webkit-animation: fade-out 0.2s ease-in-out both;
    animation: fade-out 1s ease-in-out both;

    display: none;
    transition: display 0.2s ease-in-out;
}

.try-it-out2 {
    justify-content: center;
    transition: justify-content 0.2s ease-in-out 0.2;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-2 0:6:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.6s ease-in-out both;
	        animation: slide-in-bottom 0.6s ease-in-out both;
}

.slide-in-bottom2 {
	-webkit-animation: slide-in-bottom 0.6s ease-in-out 0.2s both;
	        animation: slide-in-bottom 0.6s ease-in-out 0.2s both;
}

.slide-in-bottom3 {
	-webkit-animation: slide-in-bottom 0.6s ease-in-out 0.4s both;
            animation: slide-in-bottom 0.6s ease-in-out 0.4s both;
}

.row-slide-in-bottom-0 {
	-webkit-animation: slide-in-bottom 1.2s ease-in-out 0.0s both;
	animation: slide-in-bottom 1.2s ease-in-out 0.0s both;
}

.row-slide-in-bottom-1 {
	-webkit-animation: slide-in-bottom 1.2s ease-in-out 0.1s both;
	animation: slide-in-bottom 1.2s ease-in-out 0.1s both;
}

.row-slide-in-bottom-2 {
	-webkit-animation: slide-in-bottom 1.2s ease-in-out 0.2s both;
	animation: slide-in-bottom 1.2s ease-in-out 0.2s both;
}

.row-slide-in-bottom-3 {
	-webkit-animation: slide-in-bottom 1.2s ease-in-out 0.3s both;
	animation: slide-in-bottom 1.2s ease-in-out 0.3s both;
}

.row-slide-in-bottom-4 {
	-webkit-animation: slide-in-bottom 1.2s ease-in-out 0.4s both;
	animation: slide-in-bottom 1.2s ease-in-out 0.4s both;
}

.row-slide-in-bottom-5 {
	-webkit-animation: slide-in-bottom 1.2s ease-in-out 0.5s both;
	animation: slide-in-bottom 1.2s ease-in-out 0.5s both;
}

.row-slide-in-bottom-6 {
	-webkit-animation: slide-in-bottom 1.2s ease-in-out 0.6s both;
	animation: slide-in-bottom 1.2s ease-in-out 0.6s both;
}

.row-slide-in-bottom-7 {
	-webkit-animation: slide-in-bottom 1.2s ease-in-out 0.7s both;
	animation: slide-in-bottom 1.2s ease-in-out 0.7s both;
}

.row-slide-in-bottom-8 {
	-webkit-animation: slide-in-bottom 1.2s ease-in-out 0.8s both;
	animation: slide-in-bottom 1.2s ease-in-out 0.8s both;
}

.row-slide-in-bottom-9 {
	-webkit-animation: slide-in-bottom 1.2s ease-in-out 0.9s both;
	animation: slide-in-bottom 1.2s ease-in-out 0.9s both;
}

.nav-slide-in-top {
    -webkit-animation: slide-in-top 0.6s ease-in-out both;
	animation: slide-in-top 0.6s ease-in-out both;
}

.toggle-slide-up {
    -webkit-animation: toggle-slide-up 0.4s ease-in-out both;
	animation: toggle-slide-up 0.4s ease-in-out both;
}

.toggle-slide-down {
    -webkit-animation: toggle-slide-down 0.4s ease-in-out both;
	animation: toggle-slide-down 0.4s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-2 0:10:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(11vh);
            transform: translateY(11vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(11vh);
            transform: translateY(11vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-11vh);
              transform: translateY(-11vh);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-11vh);
              transform: translateY(-11vh);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}

@-webkit-keyframes toggle-slide-up {
    0% {
      -webkit-transform: translateX(2.15vw);
              transform: translateX(2.15vw);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes toggle-slide-up {
    0% {
      -webkit-transform: translateX(2.15vw);
              transform: translateX(2.15vw);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

@-webkit-keyframes toggle-slide-down {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(2.15vw);
              transform: translateX(2.15vw);
      opacity: 1;
    }
  }
  @keyframes toggle-slide-down {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(2.15vw);
              transform: translateX(2.15vw);
      opacity: 1;
    }
}