@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #242428;
    font-family: 'Poppins';
    color: #F9F7F1;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#particles-js {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

h1 {
    font-weight: 400;
    font-size: 6.2vh;
    margin: 1vh 0;
    line-height: 7vh;
}

a {
    text-decoration: none;
}

a:visited {
    color: #F9F7F1;
}

.nav {
    display: flex;
    flex-direction: row;
    margin: 4vh 4vw;
    justify-content: space-between;
    align-items: baseline;
    opacity: 0.8;
    align-items: baseline;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 34vw;
    align-items: baseline;
}

.nav-item {
    font-size: 2vh;
    font-weight: 500;
    color: #F9F7F1;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
    border-bottom: 0.3vh solid rgba(0, 0, 0, 0%);
    padding: 0 0 0.4vh 0;
}

.nav-item:hover {
    border-bottom: 0.3vh solid #F9F7F1;
}

.logo {
    font-size: 2.5vh;
    font-weight: 600;
    letter-spacing: 0.1vh;
}

.github {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.github-img {
    height: 1.9vh;
    width: 1.9vh;
    margin-right: 0.6vw;
}

.contact-content {
    height: 72vh;
    display: flex;
    flex-direction: column;
    margin: 0 10vw 0 10vw;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

.section-header {
    margin-top: 5vh;
    font-size: 5vh;
    margin-bottom: 2vh;
}

.contact-container {
    display: flex;
    flex-direction: column;
    border: 0.2vh solid rgba(249, 247, 241, 50%);
    height: 40vh;
    width: 44vw;
    align-items: center;
    justify-content: space-evenly;
}

.contributor {
    display: flex;
    flex-direction: row;
    width: 34vw;
    justify-content: space-between;
}

h2 {
    font-size: 3.2vh;
    margin: 0;
}

.name {
    letter-spacing: 0.1vw;
    color: #F9F7F1;
    font-weight: 600;
}

.linkedin-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    font-family: 'Poppins';
    opacity: 0.8;
    cursor: pointer;
    padding: 0;
}

.linkedin-img {
    width: 2.3vh;
    height: 2.3vh;
    margin-right: 0.5vw;
}

.linkedin {
    color: #F9F7F1;
    font-weight: 500;
}

@media (max-width: 600px) {
    .not-mobile {
        display: none;
    }

    .section-header {
        font-size: 4vh;
    }

    .contact-container {
        width: 80vw;
    }

    .contributor {
        width: 68vw;
        justify-content: space-between;
    }

    h2 {
        font-size: 2.8vh;
    }

    .linkedin-img {
        width: 2.8vh;
        height: 2.8vh;
        margin-right: 0;
    }
}